// Variables
// $color-primary: #e52dfd;
// $color-secondary: #2258c3;
// $color-accent: rgb(45, 142, 253);
// $glass-bg: rgba(255, 255, 255, 0.2);
// $box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
// $border-glass: 1px solid rgba(255, 255, 255, 0.25);
// $border-top-left: 1px solid rgba(255, 255, 255, 0.5);
// $text-color: #fff;
// $text-secondary: #1e6b7b;

$primary-color: #e52dfd;
$secondary-color: #2258c3;
$highlight-color: #2d8efd;
$text-color: #fff;
$card-bg: rgba(255, 255, 255, 0.2);
